html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    
}


/* nav */
nav {
    display: flex;
    padding: 2px;
    
}

nav a{
    text-decoration: none;
    color: brown;
}

/* RainForest */
.Rainforest-container {
    position: relative;
}


.overlay-img, 
.BuskForan-img,
.BladerForan-img,
.Blad1-img,
.Blad3-img {
    transform-origin: center;
}

/* blad */
#blad5, 
#blad4, 
#blad1, 
#blad2, 
.Blad3-img
{
    animation: sway 5s infinite;
    transform-origin: bottom;
    position: relative;
    will-change: transform;
}


.BladerForan-img {
    position: absolute;
    top: 1400px;
    animation: BladDownUp 6s ease-out forwards;
}

.Blad1-img {
    position: absolute;
    top: 1430px;
    left: 300px;
    animation: BladDownUp 6s ease-out forwards;
}

.Blad3-img {
    position: absolute;
    top: 1300px;
    left: 70%;
    animation: Blad3Up 6s ease-out forwards;
}

.MørkBlad-img {
    position: absolute;
    top: 1450px;
    left: 60%;
    animation: Blad3Up 6s ease-out forwards;
}

.BuskBak-img {
    position: absolute;
    top: 1420px;
    animation: up 2s ease-out forwards;
}


.BuskForan-img {
    position: absolute;
    top: 1400px;
    animation: downUpSlow 3s ease-out forwards;
}

.boxSVG-img {
    position: absolute;
    top: 200px;
    left: 250px;
    opacity: 0;
    animation: boxPopUp 2s ease-out forwards;
    animation-delay: 5s;
}


/* bevegelse opp og ned */

@keyframes boxPopUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes up {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-700px);
    }
    
}

@keyframes downUpSlow {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-530px);
    }
    
}

@keyframes BladDownUp {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-730px);
    }
    
}

@keyframes  Blad3Up {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-630px);
    }
    
}


@keyframes  BladOneUp {
    0% {
        transform: skew(0deg);
    }
    
    50% {
        transform: skew(10deg);
    }

    100% {
        transform: skew(0deg);
    }
    
}

/* sway */

@keyframes sway {
    0% {
        transform: skew(0deg);
    }
    
    50% {
        transform: skew(10deg);
    }

    100% {
        transform: skew(0deg);
    }
}



