.illigalAct-container {
    position: absolute;
    
}

.Treefall-img {
    position: absolute;
    left: 55%;
    top: 13%;
    display: flex;
    animation: FallTree 5s forwards ease-in-out;
}

.Man-img {
    position: absolute;
    top: 30%;
    left: 56%;
}

.Popup-img {
    position: absolute;
    left: 10%;
    width: 20vw;
    opacity: 0;
    animation: Popup 4s forwards ease-in-out;
}

.RunBoy {
    position: absolute;
    top: 30%;
    left: 30%;
    animation: run 4s forwards ease;
}

.btnAct-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 10px;
    top: 65%;
    width: 50vw;
    height: 16vh;
    border-radius: 20px;
    background-color:rgb(86, 48, 140);
    color: white;
    left: 25%;

}

.act-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 27%;
    top: 49%;
    width: 80vh;
    height: 10vw;
    padding: 20px;
    font-size: 2em;
    border-radius: 20px;
    color: white;
    background-color: rgb(94, 29, 168);
}


.btnGood-IlligalAct {
    position: absolute;
    top: 85%;
    left: 45%;
    font-size: 2.5em;
    border: none;
    padding: 15px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
}


@keyframes run {
    0% {
        transform: translateX(0px);                                                     
    }
   
    
    100% {
        transform: translateX(-360px);
        opacity: 0;
    }
}

@keyframes Popup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes FallTree {
    0% { transform: rotate(0deg);
        top: 13%;
        left: 55%;
    }

    


    100% {
        transform: rotate(-60deg);
        top: 13%;
        left: 45%;
    }
}