.illigalAct-container {
    position: absolute;
    
}


.Treefall-img {
    position: absolute;
    left: 55%;
    top: 13%;
    display: flex;
    animation: FallTree 5s forwards ease-in-out;
}

.Man-img {
    position: absolute;
    top: 37%;
    left: 56%;
}

.Popup-img {
    position: absolute;
    left: 10%;
    width: 20vw;
    opacity: 0;
    animation: Popup 4s forwards ease-in-out;
}

.RunBoy {
    position: absolute;
    top: 40%;
    left: 30%;
    animation: run 4s forwards ease;
}

@keyframes run {
    0% {
        transform: translateX(0px);                                                     
    }
   
    
    100% {
        transform: translateX(-360px);
        opacity: 0;
    }
}

@keyframes Popup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes FallTree {
    0% { transform: rotate(0deg);
        top: 13%;
        left: 55%;
    }

    


    100% {
        transform: rotate(-60deg);
        top: 20%;
        left: 45%;
    }
}