body {
    margin: 0;
    padding: 0;
    background: linear-gradient( #add2f0 0%, #80c2f7 58%, #171A54 100% );
}
.main-header {
    font-size: 3.5em;
    margin: 0;
    padding: 0;
}


.Globe {
    width: 100%;
    height: 100%;
}


.globe-container { 
    height: 50%;
    width: 20%;
    background: linear-gradient(to left, rgb(83, 118, 224) 0%, rgb(53, 101, 152), rgb(47, 132, 224) 70%, rgb(43, 120, 226) 100%) ;
    border-radius: 100%;
    position: absolute;
    background-size: 200% 200%;
       clip-path: circle(58.7%); 
       overflow: hidden;
       top: 10%;
       left: 10%;
       animation: colorChange 5s infinite alternate;
}

.btn-start {
    padding: 20px;
    margin: 40px;
    width: 20vw;
    font-size: 4em;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.PresStart {
    font-size: 1.5em;
}

@media (min-width:1000px) {
    .globe-container { 
        height: 43%;
        width: 27%;
        background: linear-gradient(to left, rgb(83, 118, 224) 0%, rgb(53, 101, 152), rgb(26, 106, 192) 70%, rgb(48, 110, 197) 100%) ;
        border-radius: 100%;
        position: absolute;
        background-size: 200% 200%;
           clip-path: circle(58.7%); 
           overflow: hidden;
           top: 10%;
           left: 10%;
           animation: colorChange 5s infinite alternate;
    }
}

@keyframes colorChange{
    0% {
        background-position: 0% 50% ;
    }
    100% {
        background-position: 100% 50%;
    }
}

.clode-contain {
    position: absolute;
    
}


.map1 {
    z-index: 2;
    animation: 15s linear infinite;
    position: absolute;
    animation-delay: -1s;
    left: 77%;
    width: 500px;
    height: 500px;
}

.map2 {
    z-index: 1;
    animation: leftSide2 linear infinite;
    animation-duration: 90s;
    position: absolute;
    animation-delay: 1s;
    left: 10%;
    
}

.games-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 39%;
    top: 18%;
    padding: 10px;
}

.images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.image-item {
    width: 350px;
    height: 200px;
}

@keyframes leftSide1{
    0% {
        left: 100%;
    }

    100% {
        left: 200%;
    }
}


@keyframes leftSide2{
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-60%) ;
    }
}

@keyframes rotateGlobe {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: 
        rotate(360deg);
    }
}


@keyframes rotateLand {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: 
        rotate(120deg);
    }
}



/* @keyframes pulse {
    0% {
        background-color: rgba(88,213, 255, 0.2);
        transform: scale(1);
    }
    
    50% {
        background-color: rgba(63, 159, 191, 0.5);
        transform: scale(1.1);
    }
} */
