<!doctype html>
<html>
    <head>
        <title>Mikrobit Express Server</title>
    </head>
    <body>
        <h1>Welcome to the Mikrobit Express Server</h1>
        <p>Here you can find a list of available endpoints:</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/api/mikrobit">Get all Mikrobit data</a></li>
            <li><a href="/api/mikrobit/search?eventType=button_a_pressed">Filter: Button A Pressed</a></li>
            <li><a href="/api/mikrobit/search?eventType=button_b_pressed">Filter: Button B Pressed</a></li>
            <li><a href="/api/mikrobit/search?eventType=click_detected">Filter: Click Detected</a></li>
            <li><a href="/api/mikrobit/search?sensorType=light_level">Filter: Light Level</a></li>
        </ul>
        <h2>Notes:</h2>
        <p>This section will be updated later.</p>
        <h3>Sensor Types and Events</h3>
        <ul>
            <li>Event Types:
                <ul>
                    <li>button_a_pressed</li>
                    <li>button_b_pressed</li>
                    <li>click_detected</li>
                </ul>
            </li>
            <li>Sensor Types:
                <ul>
                    <li>light_level</li>
                </ul>
            </li>
        </ul>
    </body>
</html>
